.cart-items-container-wrapper {
  width: 100%;
}

.cart-total-table {
  border-radius: 0.25rem;
  border: 1px solid #111;
  width: 100%;

  tbody {
    margin: 1em 1em;
  }
}

.cart-table-cell {
  text-align: center;
  color: #102a42;
}

.cart-items-right {
  margin: 1em;
}

.cart-proceed-to-checkout {
  background-color: white;
  border: 1px solid #111;
  margin-top: 0.5em;
  border-radius: 0.25rem;
  color: #111;
  width: 100%;
  padding: 0.5em;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.cart-items-container-without-items {
  margin: 1em;

  h2 {
    color: #111;
  }
}

.no-items-button {
  background-color: white;
  border: none;
  color: #111;
  border: 1px solid #111;
  border-radius: 0.25rem;
  font-size: 18px;
  padding: 0.5em 1em;
  outline: none;
  cursor: pointer;
}

.clear-cart-button {
  width: 10em;
  margin: 1em;
  background-color: white;
  border-radius: 0.25rem;
  border: none;
  color: #111;
  border: 1px solid #111;
  font-size: 18px;
  padding: 0.5em 1em;
  outline: none;
  cursor: pointer;
}

.clear-cart-button-clearing {
  width: 10em;
  margin: 1em;
  background-color: white;
  color: white;
  font-size: 18px;
  padding: 0.5em 1em;
  outline: none;
  border: 1px solid #2f6977;
  cursor: pointer;
}

.cart-item-info-cotnainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .cart-items-container-with-items {
    width: 100%;
    display: flex;
  }
  .cart-items-left {
    width: 75%;
  }

  .cart-items-right {
    width: 25%;
  }
}

@media only screen and (min-width: 1024px) {
  .clear-cart-button:hover {
    background-color: #111;
    color: white;
  }

  .cart-proceed-to-checkout:hover {
    background-color: #111;
    color: white;
  }

  .no-items-button:hover {
    background-color: #111;
    color: white;
  }

  .cart-items-left {
    width: 50%;
  }

  .cart-items-right {
    width: 50%;
  }
}
