.item {
  display: inline-block;
  width: 70vw;
  margin: 1em 0em;
  margin-right: 1em;
}

.last-item {
  margin-right: 5vw !important;
}

.first-item {
  margin-left: 5vw !important;
}

.item-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 70vw;
}

.item-footer {
  .item-name {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 100;
  }
}

@media only screen and (min-width: 600px) {
  .last-item {
    margin-right: calc(5vw) !important;
  }

  .first-item {
    margin-left: calc(5vw) !important;
  }

  .item {
    width: 350px;
    margin: 1em 0em;
    margin-right: 2em;
  }

  .item-image {
    height: 400px;
    width: 350px;
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-name {
      width: 70%;
    }
  }
}
