.desktop-header-container {
  display: none;
  height: 100%;

  .link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0em;
    padding: 0em;
    height: 100%;

    li {
      margin: 1em;
      list-style: none;

      a {
        text-decoration: none;
        color: #111;
      }
    }

    .link-list-item {
      margin: 0px;
      padding: 0em 1em;
      height: 100%;
      line-height: 100%;
      position: relative;

      .nav-link {
        color: #111;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0em;
        height: 100%;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        cursor: pointer;
      }

      .navigation-container {
        position: absolute;
        background-color: white;
        color: #111;
        top: 71px;
        right: -100px;
      }
    }

    .item-with-children:hover .children-container {
      display: block;
    }
  }
}

.navigation-border {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #111;
}

@media only screen and (min-width: 1023px) {
  .desktop-header-container {
    display: inline;
  }
}
